.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 15px 7%;
}

.logo{
    width: 160px;
    cursor: pointer;
}

ul{
    flex: 1;
    list-style: none;
    text-align: center;
}

ul li{
    display: inline-block;
    margin: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}
ul li .link {
    text-decoration: none; /* Remove underline */
    
  }
  ul li .link:hover{
    color: red;
  }



.search-box{
    display: flex;
    align-items: center;
    background: #242424;
    padding: 10px 20px;
    border-radius: 50px;
}

.search-box input{
    padding: 6px;
    background: transparent;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 18px;
    max-width: 200px;
}

.search-box input::placeholder{
    color: #fff;
}

.search-box img{
    width: 20px;
    cursor: pointer;
} 

.icons{
    display: flex;
    align-items: center;
    margin-left: 20px;
    cursor: pointer;
}

/* cart */
.cart-trolley--link {
    position: relative;
    display: inline-block; /* Added to contain the absolute positioned child */
    margin-left: 20px; /* cart ka sora nor jone*/
}

.cart-trolley{
      position: relative;
      font-size: 30px; 
    }

    .cart-total--item {
        width: 1.6rem;
        height: 1.6rem;
        font-size: 20px;
        border-radius: 50%;
        background-color: #156f6c;
        color: #fff;
        text-align: center; /* Added to center text */
        position: absolute;
        top: -13px; /* Adjust based on your preference */
        right: -15px; /* Adjust based on your preference */
        display: flex; /* Use flexbox for centering */
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
  }

  .account{
    position: relative;
    bottom: 2px;
    transform: scale(1.3);
    /* display: inline-block;  */
    margin-left: 25px;
    font-size: 29px; 
  }

  /* logo */
  .main-logo{
    height: 50px;
    width: 180px;
    margin-top: 3px; 
  }

  .cart-total--item {
    width: 1.6rem;
    height: 1.6rem;
    font-size: 20px;
    border-radius: 50%;
    background-color: #156f6c;
    color: #fff;
    text-align: center;
    position: absolute;
    top: -13px;
    right: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
